
services:
  backend:
    build:
      context: .. 
      dockerfile: docker/backend/Dockerfile
    container_name: propositos_backend_container
    restart: always
    networks: 
      - app_network
    env_file: ".env"
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: mysql:latest
    container_name: propositos_mysql_container
    volumes: 
      - db_data:/var/lib/mysql
    networks: 
      - app_network
    restart: always
    env_file: ".env"
    ports:
      - "3307:3306"
volumes:
  db_data:

networks:
  app_network:
    name: propositos_network
    driver: bridge
