
services:
  db:
    image: mysql:latest
    container_name: propositos_mysql_container
    volumes: 
      - db_data:/var/lib/mysql
    networks: 
      - app_network
    restart: always
    env_file: ".env"
    ports:
      - "3307:3306"
volumes:
  db_data:

networks:
  app_network:
